# Core do Django (Versão LTS 4.2.x é a mais estável para Android atualmente)
Django==4.2.9

# Dependências diretas (Sem travar versão exata para evitar conflito de hash)
asgiref>=3.7.0
sqlparse>=0.4.4
tzdata>=2023.3

# Django REST Framework
djangorestframework==3.14.0
django-filter>=23.2
Markdown>=3.4.1

# Servidor Web (Essenciais para o Chaquopy rodar o Django)
waitress>=2.1.2
whitenoise>=6.5.0

# Image Processing (Required for ImageField)
Pillow<10.0.0
